<nav class="navbar navbar-expand-sm bg-white fixed-top nav-tabs" >
    <div class="container">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">            
            <li class="nav-item">
                <a class="text-decoration-none" href="http://" style="color: black; font-size: x-large;" > 𝓜𝓮𝓶𝓮𝓗𝓾𝓫</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="value1" placeholder="Search">         
        </span>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <button class="form-control btn btn-light pi pi-home"></button>
            <button class="form-control btn btn-light pi pi-user"></button>
        </ul>
    </div>
    </div>   
</nav>