<app-header>
    
</app-header>
<style>
    body {
      background-color:rgb(252, 252, 252);
    }
    .avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    }
    .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    }
    </style>
<body>
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card bg-white">
                    <div class="card-body">
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <div class="profile-userpic">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaHpln8mQK6f_Ov26yf0CFycenoQxJWG5mXA&usqp=CAU" style="width: 100px;"  srcset="">
                                </div>                                
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <h5>Anusorn Khumpha</h5>                              
                            </div>
                        </div>
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <button class="btn btn-success btn-sm">ดูโปรใฟล์</button>                              
                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <h6>Folowing 1201</h6>                             
                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <h6>Folowers 51264</h6>                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card bg-white">
                <div class="card-header bg-white">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaHpln8mQK6f_Ov26yf0CFycenoQxJWG5mXA&usqp=CAU" alt="Avatar" class="avatar">&nbsp;
                    <label style="font-size: small; font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: bold; ">Meme Master</label>
                </div>
                  <img class="card-img-top" src="https://i.pinimg.com/originals/52/ac/61/52ac61f93f7b27d5a442ed85e0135271.jpg" alt="">
                  <div class="card-body">
                    <h5 class="card-title">
                        <i class="pi pi-heart" style="font-size: 1em"></i>&nbsp;
                        <i class="pi pi-comment" style="font-size: 1em"></i>&nbsp;
                        <i class="pi pi-share-alt" style="font-size: 1em"></i>&nbsp;
                    </h5>
                    <p class="card-text">Caption</p>
                  </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card bg-white">
                    
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
</body>